.quizCreationPanel {
    background-color: bisque;
    display: flex; 
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    /* margin: 0px auto;  */
}